/* Typography and General Settings */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3em;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
#content .main-title {
    font-size: 45px;
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: initial;
}
#wrapper {
    width: 100%;
    background-color: #ededed;
    padding: 2rem 1rem;
    min-height: 100vh;
}
#register-container{
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 1.875rem;
}
#registerForm input::placeholder {
    color: #f0f0f0;
}
#registerForm input:focus::placeholder {
    color: #495057ad;
}
#registerForm input:not(:focus){
    color: #fff;
}
.js-show-password{
    color: #ffdd3c;
    border-color: #ffdd3c;
}
.js-show-password:hover{
    color: #1c1c1c;
    background-color: #ffdd3c;
}
/* Header */
#header-container .logo{
    text-align: center;
}
#header #escalab_logo {
    width: 150px;
}
#header #logo-curso {
    position: absolute;
}
@media (max-width: 767.98px) { 
    #header #logo-curso { 
        width:50px;
    }
}
#header {
    background: #1c1c1c;
}
.header-top {
    padding-top: 0.563rem;
    padding-bottom: 0.563rem;
    color: #fff;
}
#header .container {
    max-width: 100%;
}
/* Forms */
.form-control{
    border: 0.125rem solid #ffdd3c !important;
}
@media (max-width: 767.98px) {
    .col-md-6.floating-label-form-group:not(:first-child){
        padding-left: 0;
        border-left: 0;
    }
}
/* Animations */
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}